.swiper-slide video {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.forbidden-error {
    color: #fff;
    padding: 0.7em;
    padding-top: 3em;
}

.forbidden-error a {
    text-decoration: none;
    color: rgb(117, 26, 126);
}

.video-bottom {
    position: absolute;
    bottom: 1em;
    width: 100%;
}

.broadcaster {
    margin-left: 1em;
}

.broadcaster img {
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.broadcaster p {
    display: inline-block;
    color: #fff;
    padding: 0;
    margin: 0;
    vertical-align: top;
    margin-left: 0.724em;
}

.broadcaster .title {
    font-size: 1.4em;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 60%;
    overflow: hidden;
    position: absolute;
}

.share {
    position: absolute;
    right: 1em;
    top: 0;
    line-height: 50px;
}

#share-button {
    background-color: rgb(117, 26, 126);
    border: none;
    color: #fff;
}

.views {
    color: #fff;
    position: absolute;
    bottom: 5em;
    right: 1em;
}

